.main-nav{
  background-color: rgb(0, 0, 0);
  color: orange;
  height: 10vh;
  padding-top: 5vh;
  font-size: 36px;

  .arrow-down{
    color: orange;
    cursor: pointer;
    position: absolute;
    left: 5%;
    }
    .MuiButton-sizeLarge{
    position: absolute;
    right: 5%;
    margin-top: 2vh;
  }
}